In [1]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
import random

random.seed(42)

In [2]:
df = pd.read_csv("../Data/Raw_data/home_insurance.csv")
df.head(10)

,QUOTE_DATE,COVER_START,CLAIM3YEARS,P1_EMP_STATUS,P1_PT_EMP_STATUS,BUS_USE,CLERICAL,AD_BUILDINGS,RISK_RATED_AREA_B,SUM_INSURED_BUILDINGS,...,HP3_ADDON_PRE_REN,HP3_ADDON_POST_REN,MTA_FLAG,MTA_FAP,MTA_APRP,MTA_DATE,LAST_ANN_PREM_GROSS,POL_STATUS,i,Police
0,11/22/2007,22/11/2007,N,R,NaN,N,NaN,Y,19.0,1000000.0,...,N,N,N,NaN,NaN,NaN,274.81,Lapsed,1,P000001
1,11/22/2007,01/01/2008,N,E,NaN,Y,N,Y,25.0,1000000.0,...,N,N,Y,308.83,-9.27,NaN,308.83,Live,2,P000002
2,11/23/2007,23/11/2007,N,E,NaN,N,NaN,N,NaN,0.0,...,N,N,Y,52.65,52.65,03/11/2010,52.65,Live,3,P000003
3,11/23/2007,12/12/2007,N,R,NaN,N,NaN,N,NaN,0.0,...,N,N,N,NaN,NaN,NaN,54.23,Live,4,P000004
4,11/22/2007,15/12/2007,N,R,NaN,N,NaN,Y,5.0,1000000.0,...,N,N,N,NaN,NaN,NaN,244.58,Live,5,P000005
5,11/22/2007,01/12/2007,N,R,NaN,N,NaN,N,NaN,0.0,...,N,N,N,NaN,NaN,NaN,51.45,Live,6,P000006
6,11/19/2007,12/12/2007,N,R,NaN,N,NaN,Y,1.0,1000000.0,...,N,N,Y,109.32,109.32,15/12/2008,109.32,Live,7,P000007
7,11/22/2007,01/12/2007,N,R,NaN,N,NaN,N,NaN,0.0,...,N,N,N,NaN,NaN,NaN,54.53,Cancelled,8,P000008
8,11/22/2007,01/02/2008,N,E,NaN,N,NaN,Y,0.0,1000000.0,...,N,N,Y,242.16,0.00,NaN,242.16,Live,9,P000009
9,11/22/2007,01/12/2007,N,E,NaN,N,NaN,Y,5.0,1000000.0,...,N,N,N,NaN,NaN,NaN,188.31,Live,10,P000010

In [3]:
df_1 = df.sample(frac=0.1, random_state=1)
df_1.head()

,QUOTE_DATE,COVER_START,CLAIM3YEARS,P1_EMP_STATUS,P1_PT_EMP_STATUS,BUS_USE,CLERICAL,AD_BUILDINGS,RISK_RATED_AREA_B,SUM_INSURED_BUILDINGS,...,HP3_ADDON_PRE_REN,HP3_ADDON_POST_REN,MTA_FLAG,MTA_FAP,MTA_APRP,MTA_DATE,LAST_ANN_PREM_GROSS,POL_STATUS,i,Police
13930,NaN,10/12/2007,N,E,NaN,N,NaN,Y,3.0,1000000.0,...,N,N,N,NaN,NaN,NaN,141.92,Live,13931,P013931
242391,12/28/2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,242392,P242392
127998,9/29/2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127999,P127999
120458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120459,P120459
60515,11/17/2007,01/12/2007,N,E,NaN,N,NaN,Y,NaN,1000000.0,...,N,N,Y,137.72,-17.74,NaN,137.72,Live,60516,P060516

In [ ]:
df_2 = df.sample(frac=0.01, random_state=1)
profile = ProfileReport(df_2, title="Home Insurance Data Report")
profile.to_file("home_insurance_report.html")

Summarize dataset:   0%|          | 0/80 [00:00<?, ?it/s]